{% set renderBackButton = flow.getFirstStepNumber() < flow.getLastStepNumber() and flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
{% set renderResetButton = flow.getCurrentStepNumber() > 1 %}
<div class="craue_formflow_buttons craue_formflow_button_count_{% if renderBackButton %}3{% else %}2{% endif %}">
    {#
    Default button (the one trigged by pressing the enter/return key) must be defined first.
    Thus, all buttons are defined in reverse order and will be reversed again via CSS.
    See http://stackoverflow.com/questions/1963245/multiple-submit-buttons-specifying-default-button
    #}
    {%- set isLastStep = flow.getCurrentStepNumber() == flow.getLastStepNumber() -%}
    {%- set craue_formflow_button_class_last = craue_formflow_button_class_last | default('craue_formflow_button_last') -%}
    {%- set craue_formflow_button_class_last = isLastStep ? craue_formflow_button_class_finish | default(craue_formflow_button_class_last) : craue_formflow_button_class_next | default('craue_formflow_button_class_next') -%}
    {%- set craue_buttons = [
        {
            label: craue_formflow_button_label_back | default('button.back'),
            render: renderBackButton,
            attr: {
                class: 'btn btn-secondary '~craue_formflow_button_class_back | default(''),
                i_class: 'fa fa-arrow-circle-left',
                name: flow.getFormTransitionKey(),
                value: 'back',
                formnovalidate: 'formnovalidate',
            },
        },
        {
            label: craue_formflow_button_label_reset | default('button.reset'),
            render: renderResetButton,
            attr: {
                class: 'btn btn-secondary '~craue_formflow_button_class_reset | default('craue_formflow_button_first'),
                i_class: '',
                name: flow.getFormTransitionKey(),
                value: 'reset',
                formnovalidate: 'formnovalidate',
            },
        },
        {
            label: craue_formflow_button_label_last | default(isLastStep ? craue_formflow_button_label_finish | default('button.finish') : craue_formflow_button_label_next | default('button.next')),
            render: true,
            attr: {
                class: 'btn btn-primary '~craue_formflow_button_class_last,
                i_class: 'fa fa-arrow-circle-right',
            },
        },
    ] -%}

    {% for button in craue_buttons if button.render %}
        {% if pratica
            and flow.getCurrentStepLabel() is same as(constant('\\AppBundle\\Payment\\Gateway\\MyPay::PAYMENT_STEP_LABEL'))
            and pratica.paymentData is defined
            and pratica.paymentData.overall_outcome is defined
            and pratica.paymentData.overall_outcome is same as(constant('\\AppBundle\\Payment\\Gateway\\MyPay::ESITO_PENDING'))
            and button.label is same as('button.next') %}
            {% set disabled='disabled="disabled"' %}
        {% else %}
            {% set disabled='' %}
        {% endif %}

        <button type="submit"{% for key, value in button.attr %} {{ key }}="{{ value }}"{% endfor %} {{ disabled }}>
        {{- button.label | trans({}, 'CraueFormFlowBundle') -}}
        </button>
    {% endfor %}
</div>
