{% extends '@App/Default/index.html.twig' %}
{% block title %}{{ servizio.name }} - Stanza del cittadino{% endblock %}

{% block main_content %}


  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-12 px-lg-4 py-lg-2">
        <h1>{{ servizio.name }}</h1>
      </div>
      <div class="col-lg-8 px-lg-4 py-lg-2">

        {% if servizio.description|striptags|trim != '' %}
          <article class="mb-3">
            <h4>Descrizione</h4>
            {{ servizio.description|raw }}
          </article>
        {% endif %}
      </div>
    </div>
  </section>

  {%  if servizio.getStickyServices.count > 0 %}
    <section class="container px-4 my-4">
      <div class="pb-5">
        <div class="container px-4">
          <div class="row mt-5">
            <div class="col">
              <h3 class="mb-4 text-primary">{{ 'servizi_primo_piano'|trans() }}</h3>
            </div>
          </div>
          <div class="row">
            {% for servizio in servizio.getStickyServices %}
              <div class="col-12">
                {{ include('@App/Servizi/parts/panel/servizio_sticky.html.twig') }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}


  {% if servizio.getNotStickyServices.count > 0 %}
    <section class="container px-4 my-4">
      <div class="pb-5">
        <div class="container px-4">
          <div class="row mt-5">
            <div class="col">
              <h3 class="mb-4 text-primary">{{ 'tutti_i_servizi'|trans() }}</h3>
            </div>
          </div>
          <div class="row">
            {% for item in servizio.getNotStickyServices %}
              <div class="col-12 col-sm-6 col-lg-4">
                  {{ include('@App/Servizi/parts/panel/servizio.html.twig', {'servizio':item}) }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

{% endblock %}
