{% set ente = instance_service.getCurrentInstance() %}
{% set version = version_service.getVersion() %}
{% set main = ente.getMetaAsArray('main') %}
{% set info = ente.getMetaAsArray('info') %}
{% set contacts = ente.getMetaAsArray('contacts') %}
{% set social = ente.getMetaAsArray('social') %}
{% set utils = ente.getMetaAsArray('utils') %}
{% set logo = ente.getMetaAsArray('logo') %}
{% set customName = ente.getMetaAsArray('name') %}
{% set enteName = customName != '' ? customName :  ente.name %}

<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="it-brand-wrapper">
              <a href="{{ ente.siteUrl }}">
                {% if logo is defined and logo is not empty %}
                  <img class="icon" src="{{ logo }}" alt="{{ enteName }}"/>
                {% else %}
                  <img class="icon" src="{{ asset('bundles/app/images/logo-default.png') }}" alt="{{ enteName }}"/>
                {% endif %}
                <div class="it-brand-text">
                  {% if ente %}
                    <h2 class="no_toc">{{ enteName }}</h2>
                    {#<h3 class="no_toc d-none d-md-block">
                        Servizi online per i cittadini
                    </h3>#}
                  {% endif %}
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row">

          {% if main %}
            {% for item in main %}
              <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
                <h4>
                  <a href="{{ item.url }}"
                     title="Vai alla pagina: {{ item.text }}">{{ item.text }}</a>
                </h4>
                {% if item.children %}
                  <div class="link-list-wrapper">
                    <ul class="footer-list link-list clearfix">
                      {% for subitem in item.children %}
                        <li>
                          <a class="list-item" href="{{ subitem.url }}"
                             title="Vai alla pagina: {{ subitem.text }}">{{ subitem.text }}</a>
                        </li>
                      {% endfor %}
                      <li class="list-item">
                        <a href="{{ item.url }}"><em>Vedi tutto</em></a>
                      </li>
                    </ul>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}

        </div>
      </section>
      <section class="py-4 border-white border-top">
        <div class="row">

          {% if info %}
            <div class="col pb-2">
              <h4><span>Informazioni</span></h4>
              {{ info|raw }}
            </div>
          {% endif %}

          {% if contacts %}
            <div class="col pb-2">
              <h4><span>Contatti</span></h4>
              <div class="link-list-wrapper">
                <ul class="footer-list link-list clearfix">
                  {% if contacts.address is defined %}
                    <li>
                      <a class="list-item"
                         href="http://maps.google.com/maps?q={{ contacts.address }}">
                        <svg class="icon icon-sm icon-white">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-pa"></use>
                        </svg>
                        {{ contacts.address }}
                      </a>
                    </li>
                  {% endif %}
                  {% if contacts.phone is defined %}
                    <li>
                      <a class="list-item" href="tel:{{ contacts.phone }}">
                        <svg class="icon icon-sm icon-white">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-telephone"></use>
                        </svg>
                        {{ contacts.phone }}
                      </a>
                    </li>
                  {% endif %}
                  {% if contacts.fax is defined %}
                    <li>
                      <a class="list-item" href="tel:{{ contacts.fax }}">
                        <svg class="icon icon-sm icon-white">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
                        </svg>
                        {{ contacts.fax }}
                      </a>
                    </li>
                  {% endif %}
                  {% if contacts.email is defined %}
                    <li>
                      <a class="list-item" href="mailto: {{ contacts.email }}">
                        <svg class="icon icon-sm icon-white">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use>
                        </svg>
                        {{ contacts.email }}
                      </a>
                    </li>
                  {% endif %}
                  {% if contacts.legal_email is defined %}
                    <li>
                      <a class="list-item" href="mailto: {{ contacts.legal_email }}">
                        <svg class="icon icon-sm icon-warning">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use>
                        </svg>
                        {{ contacts.legal_email }}
                      </a>
                    </li>
                  {% endif %}
                  {% if contacts.piva is defined %}
                    <li>
                      <a class="list-item" href="#">
                        <svg class="icon icon-sm icon-white">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-card"></use>
                        </svg>
                        P.IVA {{ contacts.piva }}
                      </a>
                    </li>
                  {% endif %}
                  {% if contacts.cf is defined %}
                    <li>
                      <a class="list-item" href="#">
                        <svg class="icon icon-sm icon-white">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-card"></use>
                        </svg>
                        C.F. {{ contacts.cf }}
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          {% endif %}

          {% if social %}
            <div class="col pb-2">
              <h4><span>Seguici su</span></h4>
              <ul class="list-inline text-left contacts">
                {% for key,value in social %}
                  <li class="list-inline-item">
                    <a class="p-2 text-white" href="{{ value }}"
                       aria-label="{{ key }}" target="_blank">
                      <svg class="icon icon-sm icon-white align-top">
                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-{{ key }}"></use>
                      </svg>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <h3 class="sr-only">Sezione Link Utili</h3>
          <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
            {% if utils %}
              {% for item in utils %}
                <li class="list-inline-item">
                  <a class="nav-link " href="{{ item.url }}" title="Link a {{ item.text }}">{{ item.text }}</a>
                </li>
              {% endfor %}
            {% endif %}
            <li class="list-inline-item">
              <a class="nav-link" href="{{ path('app.swagger_ui') }}">Api</a>
            </li>
          </ul>
        </div>
        <div class="col-2">
          <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row text-right">
            <li class="list-inline-item float-right text-right">
              <a href="{{ path('operatori_index') }}">{{ 'nav.operatori.accesso_operatori'|trans() }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-secondary x-small mt-1 mb-1 text-right">
    © {{ 'now' | date('Y') }} {{ enteName }}
    powered by <a href="https://gitlab.com/opencontent/stanzadelcittadino">Stanza del Cittadino {{ version }}</a>
  </div>
</footer>
