<div class="row">
  <div class="col-md-12">
    {% if pratica.paymentData is not empty %}
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td><b>{{ 'operatori.gateway'|trans }}</b></td>
            <td>{{ pratica.paymentType }}</td>
          </tr>
          {% if pratica.paymentType.name == "MyPay" %}
            <tr>
              <td><b>{{ 'operatori.importo'|trans }}</b></td>
              <td>
                {% if pratica.paymentData.payment_amount is defined %}{{ pratica.paymentData.payment_amount }} €{% endif %}
              </td>

            </tr>
            {% if pratica.paymentData.request is defined %}
              <tr>
                <td><b>{{ 'operatori.anagrafica_pagatore'|trans }}</b></td>
                <td>
                  <div>{{ pratica.paymentData.request.anagraficaPagatore }}</div>
                  <div>{{ pratica.paymentData.request.codiceIdentificativoUnivoco }}</div>
                  <div>{{ pratica.paymentData.request.indirizzoPagatore }} {{ pratica.paymentData.request.civicoPagatore }}</div>
                  <div>
                    {{ pratica.paymentData.request.capPagatore }}
                    {{ pratica.paymentData.request.localitaPagatore }}
                    ({{ pratica.paymentData.request.provinciaPagatore }})
                  </div>
                </td>
              </tr>
              <tr>
                <td><b>{{ 'operatori.email_pagatore'|trans }}</b></td>
                <td>
                  <a href="mailto:{{ pratica.paymentData.request['e-mailPagatore'] }}">{{ pratica.paymentData.request['e-mailPagatore'] }}</a>
                </td>
              </tr>
              <tr>
                <td><b>{{ 'operatori.causale'|trans }}</b></td>
                <td><code>{{ pratica.paymentData.request.causaleVersamento }}</code></td>
              </tr>
              <tr>
                <td><b>{{ 'operatori.iud'|trans }}</b></td>
                <td><code>{{ pratica.paymentData.request.identificativoUnivocoDovuto }}</code></td>
              </tr>
            {% endif %}
            {% if pratica.paymentData.response is defined %}
              <tr>
                <td><b>{{ 'operatori.iuv'|trans }}</b></td>
                <td><code>{{ pratica.paymentData.response.identificativoUnivocoVersamento }}</code></td>
              </tr>
              {# Se c'è l'esito del pagamento scarico la ricevuta altrimenti scarico l'avviso #}
              {% if pratica.paymentData.outcome is defined %}
                <tr>
                  <td><b>{{ 'operatori.esito_pagamento'|trans }}</b></td>
                  <td>{{ pratica.paymentData.outcome.status_message }}</td>
                </tr>
                {% if  pratica.paymentData.outcome.data.dataOraMessaggioRicevuta is defined %}
                  <tr>
                    <td><b>{{ 'operatori.data_ora_ricevuta'|trans }}</b></td>
                    <td>{{ pratica.paymentData.outcome.data.dataOraMessaggioRicevuta | date(ocsdc_default_datetime_format) }}</td>
                  </tr>
                {% endif %}
                {% if   pratica.paymentData.outcome.data.datiPagamento.datiSingoloPagamento.dataEsitoSingoloPagamento is defined %}
                  <tr>
                    <td><b>{{ 'operatori.data_esecuzione_pagamento'|trans }}</b></td>
                    <td>
                      {{ pratica.paymentData.outcome.data.datiPagamento.datiSingoloPagamento.dataEsitoSingoloPagamento | date(ocsdc_default_date_format) }}
                    </td>
                  </tr>
                {% endif %}
                <tr>
                  <td class="text-center border-0" colspan="2">
                    <a href="{{ pratica.paymentData.response.urlFileAvviso|htmlspecialchars_decode }}"
                       class='btn btn-lg btn-primary'>{{ 'gateway.mypay.download_receipt_button'|trans }}</a>
                  </td>
                </tr>
                {% else %}
                  <tr>
                    <td class="text-center border-0" colspan="2">
                      <a href="{{ pratica.paymentData.response.urlFileAvviso|htmlspecialchars_decode }}"
                         class='btn btn-lg btn-primary'>{{ 'gateway.mypay.download_button'|trans }}</a>
                    </td>
                  </tr>
              {% endif %}
            {% endif %}
          {% else %}
            {% set paymentData = pratica.paymentData | json_decode %}
            <tr>
              <td><b>{{ 'gateway.bollo.identifier'|trans }}</b></td>
              <td>{{ paymentData.bollo_identifier }}</td>
            </tr>
            <tr>
              <td><b>{{ 'gateway.bollo.data'|trans }}</b></td>
              <td>{{ paymentData.bollo_data_emissione | date(ocsdc_default_date_format) }}</td>
            </tr>
            <tr>
              <td><b>{{ 'gateway.bollo.ora'|trans }}</b></td>
              <td>{{ paymentData.bollo_ora_emissione.hour }}:{{ paymentData.bollo_ora_emissione.minute }}
                :{{ paymentData.bollo_ora_emissione.second }}</td>
            </tr>
          {% endif %}
        </table>
      </div>
    {% else %}
      <div class="font-italic text-center">{{ 'operatori.pagamento_non_previsto'|trans }}</div>
    {% endif %}
  </div>
</div>
