{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-warning mb-5" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <div class="form-group">
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
               autocomplete="username" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" autocomplete="current-password"
               class="form-control"/>
    </div>

    <div class="form-check">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="form-check-input" />
        <label for="remember_me" class="form-check-label">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <div class="mt-4">
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />
    </div>

</form>
