{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h1 class="text-center title mb-5">Hai dimenticato la password?</h1>
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-info mb-5" role="alert">
            Se hai dimenticato la tua password, inserisci il tuo username o il tuo indirizzo email.
        </div>
        {% include "@FOSUser/Resetting/request_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
