{% extends '@App/Default/index.html.twig' %}
{% block title %}{{ title|trans() }} - Stanza del cittadino{% endblock %}

{% block main_content %}
  <section class="page-homepage    bg-white" id="sezione-argomenti-in-evidenza">
    <div class="py-5 position-relative">
      <div style="position: absolute; width: 100%;height: 260px; top: 0; left: 0; background-size: cover; background-color: #3478bd"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="mb-4 block-title text-white">Pratiche in evidenza</h3>
          </div>
        </div>
        <div class="container">
          <div class="row mx-lg-n3">
            {% for s in pending %}
              <div class="col-md-6 col-lg-4 px-lg-3 pb-lg-3">
                <div class="card-wrapper card-space ">
                  <div class="card  card-bg rounded shadow">
                    <div class="card-body">
                      <div class="card-icon mb-3">
                        <svg class="icon m-0">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-folder"></use>
                        </svg>
                      </div>
                      <h5 class="card-title big-heading">{{ s.name }}</h5>
                      <div class="link-list-wrapper">
                        <ul class="link-list">
                          {% for p in s.applications %}
                            <li class="pb-1">
                              <svg class="icon icon-sm mr-2">
                                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
                              </svg>
                              <a class="d-inline p-0" href="{% if feature('feature_application_detail') %}{{ path('pratica_show_detail', {'pratica': p}) }}{% else %}{{ path('pratiche_show', {'pratica': p}) }}{% endif %}">
                                <span style="flex:1">Pratica del {{ p.creationTime|date(ocsdc_default_date_format) }}</span>
                              </a>
                              {% if p.status == constant('STATUS_PAYMENT_PENDING', p) %}
                                <small><span class="badge badge-secondary">Da pagare</span></small>
                              {% elseif p.status == constant('STATUS_DRAFT_FOR_INTEGRATION', p) %}
                                <small><span class="badge badge-warning">Da integrare</span></small>
                              {% elseif p.status == constant('STATUS_COMPLETE', p) %}
                                <small><span class="badge badge-success">Accettata</span></small>
                              {% elseif p.status == constant('STATUS_CANCELLED', p) %}
                                <small><span class="badge badge-danger">Rifiutata</span></small>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>

                      <a class="read-more" href="{{ path('pratiche_list', {'service': s.slug}) }}">
                        <span class="text">Vedi tutte</span>
                        <svg class="icon">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                        </svg>
                      </a>

                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>


          <div class="row">
            <div class="col text-center">
              <a class="btn btn-primary" href="{{ path('pratiche_list') }}">
                <svg class="icon icon-white">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-files"></use>
                </svg>
                Vedi tutte
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
