{% extends '@App/Default/index.html.twig' %}

{% block main_content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <a href="{{ path('pratiche_show', {'pratica': pratica.id}) }}">
                    Pratica ID {{ pratica.id }}
                    </a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Numero di fascicolo</h4>
                {{ pratica.numeroFascicolo }}
                <h4>Numero di protocollo</h4>
                {{ pratica.numeroProtocollo }}
                <h4>Numeri di protocollo allegati</h4>
                <table class="table list">
                    <tr>
                        <th>Tipologia</th>
                        <th>Allegato</th>
                        <th>Protocollo</th>
                        <th>Creato il</th>
                    </tr>

                {% for allegato in allegati %}
                    <tr>
                        <td>
                            {{ allegato.tipo }}
                        </td>
                        <td>
                            {{ allegato.allegato.originalFilename }} <small>{{ allegato.allegato.description }}</small>
                        </td>
                        <td>{{ allegato.protocollo }}</td>
                        <td>{{ allegato.allegato.createdAt|date("d/m/Y H:i") }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
